@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #34303d;
    text-decoration: none;
    padding: 35px;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 150px auto;
    border-left: 2px solid #34303d;
    border-right: 2px solid #34303d;
    border-top: 2px solid #34303d;
}

nav a:hover {
    background-color: #53cbe0;
    color: #f9f9f9;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#headline {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: #34303d;
    margin-bottom: -35px;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

.main-image {
    display: block;
    margin: 50px auto auto auto;
    width: 450px;
    box-shadow: 5px 5px 10px #34303d;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

hr {
    margin: 50px 100px;
    background: #53cbe0;
    height: 3px;
}

.intro {
    margin: 0 100px 75px 100px;
    text-align: justify;
    font-size: 25px;
}

.list {
    margin: 50px 100px 75px 100px;
    font-size: 20px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    color: #34303d;
    border: 2px solid #34303d;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

footer {
    background-color:#f9f9f9;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #34303d;
    border-left: 2px solid #34303d;
    border-bottom: 2px solid #34303d;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}